main {
  margin-top: 1em;
  margin-left: 15%;
  margin-right: 15%;
}

.left-padding {
  padding-left: 1rem;
}
.horizontal-padding {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  flex: 1;
}
footer {
  padding: 2vh;
}