nav {
  position: relative;
  overflow: hidden;
}
nav ul, #weatherWidget {
  list-style-type: none;
  overflow: hidden;
}

nav ul li {
  float: right;
}

nav ul li a, #weatherWidget li a {
  display: block;
  text-align: center;
  padding: 16px 14px;
  text-decoration: none;
}

#weatherWidget {
  float: left;
}