:root {
  --main: #78909c;
  --main-light: #90a4ae;
  --main-dark:#455a64;
  --main-background: #b0bec5;

  --accent: #d81b60;
  --accent-light: #ec407a;
  --accent-dark: #880e4f;

  --text-font: Arial, Helvetica, sans-serif;
}

* {
  padding: 0px;
  margin: 0px;
  font-family: var(--text-font);
  color: black;
}

body {
  background-color: var(--main-background);
}

nav {
  background-color: var(--main);
}

nav ul li a:hover {
  background-color: var(--main-dark);
  transition: 0.3s;
  color: white;
}

header {
  background-color: var(--main-dark);
}
header h1 {
  color:white;
}
footer {
  background-color: var(--main-dark);
}

#title {
  /* text-decoration: underline;
  text-underline-offset: 1em;
  text-decoration-color: var(--accent-light); */
  border-bottom: 0.2em solid var(--accent);
  padding-left: 1em;
  padding-right: 1em;
}
#title:hover {
  border-bottom: 0.2em solid var(--accent-dark);
  transition: 0.2s;
}

footer p {
  color: white;
}

#tweet-list li:hover {
  background-color: var(--main);
  border: 1px solid white;
  box-shadow: -0.2em 0.2em var(--accent-dark);
}

#tweet-list li {
  border-radius: 0.5em;
  background-color: var(--main-light);
  border: 1px solid black;
  box-shadow: -0.2em 0.2em var(--accent-light);
}

button, input[type=submit] {
  background-color: var(--main);
  box-shadow: -0.2em 0.2em var(--accent-light);
}

button:hover, input[type=submit]:hover {
  background-color: var(--main-dark);
  color: white;
  box-shadow: -0.2em 0.2em var(--accent-dark);
}

input[type=submit] {
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 1em;
}